@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0%;
}
body {
    min-width: 100%;
}
header .link , footer .link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header .link:hover , footer .link:hover {
    text-decoration: underline;
}



header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
header h1 {
    font-family: 'Passion One',serif;
    font-size: 10vw;
    font-variant: small-caps;
}
header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main section {
    padding: 0em 1em 3em 1em;
    background-color: white;
    font-family: 'Sriracha',sans-serif;
    font-size: 3.5vw;
    line-height: 2em;
}
main #img01 {
    background: black url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.350);
}
main #img02 {
    background: black url(imagens/background002.jpg) center left no-repeat fixed;
    background-size: cover;
    box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.350);
}
main .textespecial {
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}